.skeleton-card {
    &__figure {
        aspect-ratio: 1/1;
        display: block;
    }

    &__title {
        display: block;
        height: 1lh !important; // !important is needed to override the height style from pinnacle
        position: relative;

        &::before {
            background-color: $ysw-white-color;
            content: "";
            display: block;
            height: remCalc(4px);
            position: absolute;
            top: 50%;
            width: 100%;
        }
    }

    &__price {
        display: inline-flex;
        height: 1lh;
        max-width: remCalc(65px);
    }

    &__button {
        display: block;
        height: remCalc(32px);
        width: 100%;
    }
}
