// Fonts
// --------------------------------

$ysw-font-size-root: stencilNumber("fontSize-root");

$ysw-headings-font: Montserrat, Arial, Helvetica, sans-serif;
$ysw-body-font: "Noto Sans", Arial, Helvetica, sans-serif;
$ysw-open-sans-font: "Open Sans", Arial, Helvetica, sans-serif;
