.ysw-c-hero-bannner {
    align-items: center;
    background-position: 35% 36%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: remCalc(500px);
    width: 100%;

    @include ysw-breakpoint("b-medium") {
        height: 80vh;
    }

    @include ysw-breakpoint("b-large") {
        justify-content: flex-end;
    }

    &__content {
        display: block;
        margin: 0 5%;
        position: relative;
        text-align: center;
        width: remCalc(672px);
        z-index: 1;

        @include ysw-breakpoint("b-medium") {
            margin: 0 5%;
            width: max-content;
        }
    }

    &__container {
        &::before {
            background: url("../img/ysw/hero-banner-overlaping.png") no-repeat center center;
            background-size: cover;
            content: "";
            display: block;
            height: 100%;
            left: 0;
            opacity: 0.3;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 0;
        }
    }

    &__title {
        color: $ysw-white-color;
        font-size: remCalc(30px);
        font-weight: 900;
        line-height: 0.9;
        margin-bottom: remCalc(40px);
        margin-top: 0;
        text-align: center;
        text-transform: uppercase;
        width: 100%;

        @include ysw-breakpoint("small") {
            font-size: remCalc(40px);
            margin-bottom: remCalc(20px);
            text-align: left;
            width: 60%;
        }

        @include ysw-breakpoint("b-medium") {
            font-size: remCalc(70px);
            width: remCalc(670px);
        }

        span {
            color: $ysw-blue-color--lighter;
            display: block;
            font-size: remCalc(20px);
            font-weight: 700;
            max-width: 100%;

            @include ysw-breakpoint("small") {
                max-width: remCalc(500px);
            }

            @include ysw-breakpoint("b-medium") {
                font-size: remCalc(32px);
            }
        }
    }

    &__text {
        color: $ysw-hero-banner-text-color;
        font-family: $ysw-headings-font;
        font-size: remCalc(16px);
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: remCalc(24px);
        text-align: center;

        @include ysw-breakpoint("small") {
            text-align: left;
        }

        @include ysw-breakpoint("b-medium") {
            font-size: remCalc(20px);
        }
    }

    &__button {
        background-color: $ysw-blue-color;
        border: remCalc(5px) solid $ysw-blue-color--light;
        color: $ysw-white-color;
        display: block;
        font-size: remCalc(16px);
        font-weight: 900;
        line-height: 1;
        margin: 0 auto;
        padding: remCalc(10px);
        text-decoration: none;
        text-transform: uppercase;
        width: max-content;

        @include ysw-breakpoint("small") {
            margin: 0;
        }

        @include ysw-breakpoint("b-medium") {
            font-size: remCalc(16px);
        }

        &:hover,
        &:focus {
            background-color: $ysw-blue-color--light;
            border: remCalc(5px) solid $ysw-blue-color;
            color: $ysw-white-color;
        }
    }
}
