.ysw-l-westcoast {
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: max-content;
    padding-block: remCalc(50px);
    padding-inline: 5%;

    @include ysw-breakpoint("medium") {
        height: remCalc(500px);
    }

    figure {
        margin: auto;
        max-width: remCalc(1380px);
    }

    &-title {
        color: $ysw-white-color;
        font-family: $ysw-headings-font;
        font-size: remCalc(20px);
        font-weight: 700;
        letter-spacing: remCalc(5px);
        margin: 0;
        margin-bottom: remCalc(30px);
        text-align: center;
        text-transform: uppercase;

        @include ysw-breakpoint("small") {
            font-size: remCalc(24px);
            letter-spacing: remCalc(7px);
        }

        @include ysw-breakpoint("medium") {
            font-size: remCalc(24px);
        }
    }

    &-cite {
        color: $ysw-white-color;
        font-family: $ysw-headings-font;
        font-size: remCalc(30px);
        font-style: italic;
        font-weight: 500;
        line-height: remCalc(40px);
        margin-bottom: remCalc(30px);
        text-align: center;

        @include ysw-breakpoint("medium") {
            font-size: remCalc(40px);
            line-height: remCalc(44px);
        }
    }

    &-author {
        color: $ysw-white-color;
        display: inline;
        display: block;
        font-family: $ysw-headings-font;
        font-size: remCalc(24px);
        font-style: normal;
        font-weight: 700;
        letter-spacing: normal;
        margin-top: 0;
        text-align: center;
        text-transform: uppercase;

        @include ysw-breakpoint("medium") {
            font-size: remCalc(36px);
        }
    }
}

.ysw-l-buttons {
    background-image: $ysw-westcoast-gradient-color;
    padding-block: remCalc(20px);
    padding-inline: remCalc(20.5px);

    &-inner {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    &-button {
        background-color: $ysw-blue-color;
        border: remCalc(5px) solid $ysw-blue-color--light;
        color: $ysw-white-color;
        display: block;
        font-family: $ysw-body-font;
        font-size: remCalc(19px);
        font-weight: 900;
        line-height: 1;
        max-width: remCalc(335px);
        padding-block: remCalc(15px);
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%;
    }
}

.ysw-american-made-solutions {
    padding-top: remCalc(15px);

    @include ysw-breakpoint("b-small") {
        padding-top: remCalc(30px);
    }

    .ysw-c-proudly__made-in-usa {
        &--automotive {
            top: (-(remCalc(55px)));
            width: remCalc(400px);

            @include ysw-breakpoint("b-small") {
                top: (-(remCalc(79px)));
                width: remCalc(560px);
            }
        }
    }
}
