.youtube {
	cursor: pointer;
	overflow: hidden;
	padding-top: 56.25%;
	position: relative;

  + p,
  + ol,
  + ul {
    margin-top: 30px;
  }

  p + &,
  ol + &,
  ul + & {
    margin-top: 30px;
  }

  img,
  iframe,
  &__play-button,
  &__play-button:before {
    position: absolute;
  }

  &__play-button,
  &__play-button:before {
    left: 50%;
    top: 50%;
    transform: translate3d( -50%, -50%, 0 );
  }

  iframe {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }

  img,
  &__play-button {
	  cursor: pointer;
  }

  img {
    left: 0;
    opacity: 0.7;
    top: -16.84%;
    width: 100%;
  }

  &__play-button {
    background-color: #333;
    border-radius: 6px;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    height: 60px;
    opacity: 0.8;
    width: 90px;
    z-index: 1;

    &:before {
      border-color: transparent transparent transparent #fff;
      border-style: solid;
      border-width: 15px 0 15px 26.0px;
      content: "";
    }
  }
}
