// =============================================================================
// GLOBAL SETTINGS
// =============================================================================
//
// 1. Layout is dependant on Typography, so @import typography first.
//
// -----------------------------------------------------------------------------

// Export
@import "export/export";

// Screen Sizes
@import "screensizes/screensizes";

// Z-index
@import "z-index/z-index";

// Color
@import "color/color";

// Typography
@import "typography/typography"; // 1

// Layout
@import "layout/layout"; // 1

// Containers
@import "container/container";

// Overlays
@import "overlay/overlay";

// Mixins
@import "mixins/mixins";

// Set these to true so that Foundation styles are exposed from Citadel
$include-html-classes: false !default;
$include-print-styles: false !default;
$include-html-global-classes: $include-html-classes !default;

// These are needed when setting $include-html-classes to true, so that rems don't conflict with pixels.
$h1-font-reduction: rem-calc(10) !default;
$h2-font-reduction: rem-calc(10) !default;
$h3-font-reduction: rem-calc(5) !default;
$h4-font-reduction: rem-calc(5) !default;
$h5-font-reduction: 0 !default;
$h6-font-reduction: 0 !default;

/* NOTE
    To get stencil "imageDimension" type:
        width: get-width(stencilString('logo_size'));
        height: get-height(stencilString('logo_size'));
*/

// VARIABLES
// general
$content-maxWidth: 1000px; // includes padding. make 'none' for full width
$productGrid-imageHeight: #{stencilNumber("card-image-ratio", "") * 226}px;
$subcategoryGrid-imageHeight: #{stencilNumber("subcategory-image-ratio", "") * 226}px;

// colours
$button--primary-backgroundColor: stencilColor("button--primary-backgroundColor");
$button--secondary-backgroundColor: stencilColor("button--default-backgroundColor");
$button--secondary-text: stencilColor("button--default-color");
$button--secondary-text-hover: stencilColor("button--default-colorHover");

$nav-backgroundColor: stencilColor("navPages-backgroundColor");
$nav-linkColor: stencilColor("navPages-color");
$nav-linkHover: stencilColor("navPages-color-hover");
$nav-subMenu-backgroundHover: stencilColor("navPages-subMenu-backgroundColorHover");
$navCart-bg-mobile: stencilColor("navUser-cart-background-mobile");
$navCart-icon-mobile: stencilColor("navUser-cart-icon-mobile");
$nav-toggle-mobile: stencilColor("nav-toggle-mobile");
$cart-count-bg-mobile: stencilColor("navUser-indicator-backgroundColor-mobile");

$search-bg: stencilColor("search-background");
$quickSearch-backgroundColor: stencilColor("dropdown--quickSearch-backgroundColor");
$search-boxColor: stencilColor("search-box");
$search-textColor: stencilColor("search-text");

$general-linkColor: stencilColor("color-textLink");
$general-linkColorHover: stencilColor("color-textLink--hover");
$baseText-color: stencilColor("color-textBase");
$header-footer-separator-line-color: stencilColor("header-footer-separator-line-color");

$card-titleColor: stencilColor("card-title-color");
$card-image-border: stencilColor("card-image-border");

$topNav-bg: stencilColor("navUser-background");

$alerts--backgroundColor: stencilColor("alerts--backgroundColor");
$alerts--textColor: stencilColor("alerts--textColor");
$alerts--linkColor: stencilColor("alerts--linkColor");

$footer-textColor: stencilColor("footer-textColor");
$footer-linkColor: stencilColor("footer-linkColor");
$footer-linkColorHover: stencilColor("footer-linkColor-hover");

$carousel-textBackground: stencilColor("carousel-bgColor");
$carousel-textBackgroundOpacity: stencilNumber("carousel-textBgOpacity", "");
$carousel-ArrowBackground: stencilColor("carousel-arrow-bgColor");
$carousel-ArrowBackgroundOpacity: stencilNumber("carousel-arrow-bgOpacity", "");

// ICONS
$social-media-icons--header: stencilColor("social-media-icons-header");
$social-media-icons--headerHover: stencilColor("social-media-icons-header--hover");
$social-media-icons--footer: stencilColor("social-media-icons-footer");
$social-media-icons--footerHover: stencilColor("social-media-icons-footer--hover");
$payment-icons-footer: stencilColor("payment-icons-footer");

// BADGES
$stockBadge-bgColor: stencilColor("stockBadge-bgColor");
$stockBadge-textColor: stencilColor("stockBadge-textColor");

$red: #cc0000;

// GRID
$numProds--grid-desktop: 100/4;
$numProds--grid-desktop-leftCol: 100/3;
$numProds--grid-tablet: 100/3;
$numProds--grid-mobile: 100/2;

// FONTS
$headings-font: stencilFontFamily("headings-font");
$headings-font-medium: stencilFontFamily("headings-font-medium");
$body-font: stencilFontFamily("body-font");

// MISC
$navPages-grow: stencilNumber("navPages-grow", "");
