.basics-breakdown {
  margin: 2em 0;

  + .container {
    margin-top: 4em;
  }

  h3#{&}__title {
    background: #004c8c;
    color: #fff;
    font-size: 21px;
    line-height: 1.4;
    margin: 0 !important;
    padding: .5em 1em;
    
    @include desktop-up {
      font-size: 30px;
      padding: 15px 60px 5px;
    }
  }

  &__content {
    border: dashed #676a6c;
    border-width: 0 1px 1px;
    padding: 25px 15px;
    
    @include desktop-up {
      padding: 30px 60px;
    }

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }


  &__image {
    float: right;
    margin: 0 0 15px 15px;
  }
}
