// Module - Select

// .module-select {
//   appearance: none;
//   background: url(/assets/img/chevron-down.png) no-repeat right 10px center;
//   border: 4px solid #ddd;
//   color: #37474f;
//   font-size: 16px;
//   font-weight: bold;
//   line-height: 1;
//   outline: 0;
//   padding: 8px;
//   width: 100%;
// }

body .shogun-accordion {
  overflow: initial;
}

.module-select {
  color: #37474f;
  font-size: 16px;
  text-align: left;
  position: relative;
  z-index: 10;
}

.module-select__select-button {
  background: #fff no-repeat right 10px center;
  border: 4px solid #ddd;
  cursor: pointer;
  font-weight: bold;
  height: 42px;
  line-height: 1;
  padding: 9px 30px 0 8px;
  position: relative;
}

.module-select__checkbox {
  bottom: 0;
  cursor: pointer;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 3;

  &:checked {
    ~ .module-select__option-group {
      border: 1px solid #ddd;
      border-top: 0;
      display: block;
      max-height: 190px;
      overflow: hidden;
      overflow-y: scroll;

      &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
      }
      
      &::-webkit-scrollbar{
        width: 10px;
        background-color: #f1f1f1;
      }
      
      &::-webkit-scrollbar-thumb{
        background-color: #37474f;
        border: 2px solid #37474f;
        border-radius: 30px;
      }

      .module-select__label {
        display: block;
        padding: 8px 12px;
      }

      .module-select__option {
        &:first-child {
          .module-select__label {
            margin-top: 6px;
          }
        }

        &:last-child {
          .module-select__label {
            margin-bottom: 6px;
          }
        }
      }
    }
  }
}

.module-select__option-group {
  background-color: #fff;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 42px;
  width: 100%;
}

.module-select__option {
  line-height: 1;
  position: relative;
  transition: 0.3s ease all;
}

.module-select__label {
  color: inherit;
  display: none;
  font-size: 14px;
  text-decoration: none;
  transition: 0.1s all ease;

  &:hover,
  &:focus {
    background-color: #0277bd;
    color: #fff;
  }
}
