// =============================================================================
// FACET LABEL (Settings)
// =============================================================================

$facetLabel-backgroundColor:                #e8e8e8;
$facetLabel-borderRadius:                   0;
$facetLabel-removeIcon-width:               14px;
$facetLabel-removeIcon-height:              14px;
$facetLabel-removeIcon-color:               $small-font-color;
