// =============================================================================
// FACETED SEARCH (Settings)
// =============================================================================

$facetedSearch-toggle-border:               $accordion-border;
$facetedSearch-toggle-borderWidth:          $accordion-navList-borderWidth;
$facetedSearch-toggle-borderRadius:         $global-radius;
$facetedSearch-toggle-padding:              8px 8px 8px 18px;
$facetedSearch-toggle-verticalSpacing:      20px;
