.banners {
    &--category {
        margin-top: 0;
        padding-top: 0;
    }

    &--mobile {
        @include ysw-breakpoint("medium") {
            display: none;
        }
    }

    &--desktop {
        display: none;

        @include ysw-breakpoint("medium") {
            display: block;
        }
    }
}
