.cart-actions:after {
  content: '-- or use --';
  font-size: 16px;
  display: block;
  text-align: center;
  padding-top: 20px;
}

.page-content .cart-additionalCheckoutButtons {
  clear: both;
  position: relative;
  text-align: center;
  padding: 30px 0 10px 0;
  border: 1px #e6e6e6 solid;
  margin: 25px 0 25px auto;
}

.page-content .cart-additionalCheckoutButtons:before {
  content: 'Express checkout';
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  font-family: Karla,Arial,Helvetica,sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  color: #000;
  width: 150px;
  background: #fff;
  margin: auto;
}

.cart-additionalCheckoutButtons .paypalCommerce-buttons-container,
.cart-additionalCheckoutButtons .AmazonPayCheckout,
.cart-additionalCheckoutButtons .apple-pay-checkout-button,
.cart-additionalCheckoutButtons .GooglePayCheckout {
  width: auto;
  display: inline-block;
  vertical-align: top;
  float: none;
  margin: 0 15px 15px !important;
}

/* .cart-additionalCheckoutButtons .apple-pay-checkout-button */

.cart-additionalCheckoutButtons .paypalCommerce-buttons-container > .paypalCommerce-smart-buttons,
.cart-additionalCheckoutButtons .AmazonPayCheckout > .AmazonPayContainer,
.cart-additionalCheckoutButtons .apple-pay-checkout-button,
.cart-additionalCheckoutButtons .GooglePayCheckout > .GooglePayContainer {
  width: 200px;
}

.cart-additionalCheckoutButtons .paypalCommerce-smart-buttons {
  width: 100%;
  margin: 0;
}

.cart-additionalCheckoutButtons .paypalCommerce-smart-buttons .paypal-buttons {
  vertical-align: top;
}

.page-content .AmazonPayContainer {
  width: 100%;
}

.cart-additionalCheckoutButtons .FloatRight div {
  width: 100%;
  min-width: auto;
}

.cart-additionalCheckoutButtons .AmazonPayCheckout [id*="amazon_pay_checkout_or_use"], .cart-additionalCheckoutButtons .GooglePayCheckout [id*="google_pay_checkout_or_use"] {
  display: none !important;
}

.cart-additionalCheckoutButtons .GooglePayCheckout .gpay-button {
  width: 100%;
  padding: 9px 24px 7px;
  height: 35px;
  min-height: 35px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.cart-additionalCheckoutButtons .apple-pay-checkout-button {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  height: 35px;
  padding: 5px 15px;
  min-height: inherit;
  display: none;
}

.apple-pay-supported .cart-additionalCheckoutButtons .apple-pay-checkout-button {
  display: inline-block;
}





/* ----- */
.previewCartCheckout-additionalCheckoutButtons {
  clear: both;
  position: relative;
  max-width: 300px;
  padding: 10px 15px 15px;
  border: 1px #c3c3c3 solid;
  margin: 50px auto 0;
}

.previewCartCheckout-additionalCheckoutButtons:before {
  content: '-- or use --';
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  text-align: center;
}

.previewCartCheckout-additionalCheckoutButtons:after {
  content: 'Express checkout';
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  font-family: Karla,Arial,Helvetica,sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  color: #000;
  width: 150px;
  background: #e5e5e5;
  margin: auto;
}

.previewCartCheckout .AmazonPayCheckout {
  margin-bottom: 10px;
}

.previewCartCheckout .paypalCommerce-buttons-container .paypalCommerce-smart-buttons {
  margin: 15px 0 10px;
}

.previewCartCheckout .AmazonPayCheckout [id*="amazon_pay_checkout_or_use"] {
  display: none !important;
}

.previewCartCheckout .AmazonPayCheckout .AmazonPayContainer > div {
  width: 100% !important;
  height: 54px !important;
}

.cart-additionalCheckoutButtons .AmazonPayCheckout > .AmazonPayContainer > div {
  height: 54px !important;
}

.previewCartCheckout .GooglePayCheckout {
  margin-bottom: 0 !important;
}

.previewCartCheckout .GooglePayCheckout .GooglePayContainer > div {
  width: 100%;
}

.previewCartCheckout .GooglePayCheckout .gpay-button,
.previewCartCheckout .apple-pay-checkout-button {
  display: block;
  width: 100%;
  height: 35px;
  min-height: 35px;
  min-width: inherit;
  padding: 9px 24px;
  margin: 0 0 12px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.previewCartCheckout .apple-pay-checkout-button {
  display: none;
}

.apple-pay-supported .previewCartCheckout .apple-pay-checkout-button {
  display: block;
}

.previewCartCheckout .GooglePayCheckout .gpay-button {
  margin-bottom: 0;
}

/* ----- */

/* -------------------- */
@media (max-width: 767px) {
  .page-content .cart-additionalCheckoutButtons {
    padding-bottom: 0;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .cart-additionalCheckoutButtons .paypalCommerce-buttons-container, .cart-additionalCheckoutButtons .AmazonPayCheckout, .cart-additionalCheckoutButtons .GooglePayCheckout {
    width: 100%;
    clear: both;
    margin: 0 0 20px !important;
  }

  .cart-additionalCheckoutButtons .paypalCommerce-buttons-container > .paypalCommerce-smart-buttons, .cart-additionalCheckoutButtons .AmazonPayCheckout > .AmazonPayContainer, .cart-additionalCheckoutButtons .GooglePayCheckout > .GooglePayContainer {
    display: inline-block;
    vertical-align: top;
    float: none;
  }
}
// END 
