.ysw-table-content-section {
    background-color: $ysw-blue-color--dark;
    padding-block: remCalc(60px);
    padding-inline: remCalc(24px);

    &__container {
        max-width: remCalc(970px);
        padding-inline: 0;

        @include ysw-breakpoint("mobile") {
            padding-inline: remCalc(15px);
        }
    }

    &__text {
        margin: 0 auto;
        margin-bottom: remCalc(40px);
        max-width: remCalc(525px);

        &--full-width {
            max-width: none;
        }
    }

    &__paragraph {
        color: $ysw-white-color;
        font-family: $ysw-body-font;
        font-size: remCalc(15px);
        font-weight: 400;
        line-height: remCalc(24px);
        text-align: left;

        p:last-of-type {
            margin-bottom: 0;
        }

        &--title {
            color: $ysw-white-color;
            font-size: remCalc(18px);
            font-weight: 500;
            line-height: remCalc(28px);
            margin-bottom: remCalc(21px);
            text-align: left;
            text-transform: none;
        }
    }

    &__content {
        border-top: remCalc(1px) solid $ysw-white-color;
        padding-top: remCalc(40px);
    }

    &__title {
        color: $ysw-white-color;
        font-family: $ysw-headings-font;
        font-size: remCalc(30px);
        font-weight: 500;
        line-height: 1;
        margin: 0;
        margin-bottom: remCalc(20px);
        text-align: left;
        text-transform: none;
    }

    &__list {
        display: grid;
        gap: remCalc(20px);
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        list-style: none;
        margin: 0;

        &--small {
            grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        }
    }

    &__item {
        background-color: $ysw-white-color;
        min-height: remCalc(80px);
    }

    &__link {
        align-items: center;
        color: $ysw-blue-color--darker;
        display: block;
        display: flex;
        font-family: $ysw-body-font;
        font-size: remCalc(16px);
        height: 100%;
        justify-content: center;
        padding: remCalc(15px 35px);
        text-align: center;
        text-decoration: none;

        &--small {
            padding-inline: remCalc(10px);
        }
    }
}
