.ysw-c-knowledge {
    background-position: center;
    background-size: cover;
    padding: remCalc(80px 30px);

    &__container {
        width: 100%;
    }

    &__title {
        color: $ysw-blue-color;
        font-family: Montserrat;
        font-size: remCalc(34px);
        font-weight: 800;
        line-height: 1;
        margin: 0;
        margin-bottom: remCalc(50px);
        text-align: center;
        text-transform: uppercase;

        @include ysw-breakpoint("medium") {
            font-size: remCalc(44px);
        }
    }

    &__image {
        height: 100%;

        @include ysw-breakpoint("medium") {
            max-width: 50%;
        }

        @include ysw-breakpoint("mobile") {
            max-width: 100%;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 auto;
        max-width: remCalc(1260px);

        &-right {
            max-width: none;

            @include ysw-breakpoint("medium") {
                margin-top: remCalc(50px);
                max-width: remCalc(360px);
            }

            @include ysw-breakpoint("mobile") {
                max-width: remCalc(460px);
            }

            @include ysw-breakpoint("b-xlarge") {
                max-width: remCalc(615px);
            }
        }

        &-subtitle {
            color: $ysw-blue-color;
            font-family: Montserrat;
            font-size: remCalc(18px);
            font-style: normal;
            font-weight: 800;
            letter-spacing: normal;
            margin: 0;
            margin-bottom: remCalc(10px);
            text-transform: uppercase;
        }

        &-title {
            font-family: Montserrat;
            font-size: remCalc(26px);
            font-style: normal;
            font-weight: 800;
            letter-spacing: normal;
            line-height: remCalc(34px);
            line-height: 1.2;
            margin: 0;
            margin-bottom: remCalc(16px);
            text-transform: uppercase;
            white-space: normal;
        }

        &-text {
            font-family: Montserrat;
            font-size: remCalc(16px);
            font-style: normal;
            font-weight: 300;
            letter-spacing: normal;
            line-height: 1.3;
            margin-bottom: remCalc(48px);
        }

        &-button {
            background-color: $ysw-blue-color;
            border: remCalc(5px) solid $ysw-blue-color--light;
            color: $ysw-white-color;
            display: inline-block;
            font-family: $ysw-body-font;
            font-size: remCalc(19px);
            font-weight: 900;
            line-height: 1;
            padding: remCalc(10px 20px);
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}
