// Report Table Hero

.report-table-hero {
  background-image: linear-gradient(280deg, #0176bd 100%, #004f7f 5%);
  color: $color-white;
  padding: 60px 0;
  text-align: center;

  @include breakpoint("medium") {
    padding: 66px 0 42px;
  }
}

.report-table-hero__title {
  color: inherit;
  font-family: $headings-font;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.2;
  margin: 0 auto;
  max-width: 650px;
  text-transform: none;

  @include breakpoint("small") {
    font-size: 32px;
  }
}

.report-table-hero__subtitle {
  font-family: $fontFamily-noto;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6;
  margin: 10px auto 0;
  max-width: 650px;

  @include breakpoint("small") {
    font-size: 15px;
    margin-top: 15px;
  }
}

.report-table-hero__toggle {
  align-items: center;
  border: 2px solid #252728;
  border-radius: 24px;
  display: inline-flex;
  overflow: hidden;
  margin-top: 24px;

  @include breakpoint("small") {
    margin-top: 34px;
  }

  &-button {
    appearance: none;
    border-left: 1px solid transparent;
    border-right: 1px solid #252728;
    color: $color-white;
    font-family: $headings-font;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.7px;
    line-height: 1.3;
    padding: 10px 18px 8px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.1s ease;

    @include breakpoint("small") {
      font-size: 14px;
      line-height: 1;
      padding: 15px 24px;
    }

    @include breakpoint("medium") {
      min-width: 225px;
    }

    &.is-active,
    &:hover,
    &:focus {
      background-color: #323435;
      box-shadow: inset 0 1px 19px 0 rgba(0, 0, 0, 0.5);
      color: $color-white;
    }

    + .report-table-hero__toggle-button {
      border-left: 1px solid #252728;
      border-right-color: transparent;
    }
  }
}