.second3201v1 .exit-promo_container * {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    box-shadow: none;
    border: none;
    outline: none;
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
    float: none;
    font-size: 1em;
    line-height: 1;
    box-sizing: border-box;
}

.second3201v1 #usi_shadow,
.second3201v1 #usi_container {
    display: none !important;
}

.second3201v1 .exit-promo_display {
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    margin-top: -199px;
    width: 90%;
    max-width: 686px;
    height: 399px;
    transition: transform 0.5s ease;
    position: fixed;
    display: block;
    z-index: 1001;
}

.second3201v1 .exit-promo_container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1010;
    display: none;
}

.second3201v1 .exit-promo_wrapper {
    position: relative;
}

.second3201v1-exit.second3201v1 .exit-promo_container {
    display: block;
}

.second3201v1 button.exit-promo_close {
    position: absolute;
    left: 85%;
    top: 0px;
    width: 15%;
    height: 15%;
    z-index: 2000000300;
    cursor: pointer;
    border: none;
    background: none;
    margin: 0;
    padding: 0;

    @media (max-width: 800px) {
        left: unset;
        right: 5%;
    }

    @media (max-width: 576px) {
        left: 85%;
        right: unset;
    }
}

.second3201v1 .exit-promo_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
    z-index: 1011;
}

.second3201v1 .exit-promo_sr_only {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.second3201v1 a.exit-promo_submitbutton {
    position: absolute;
    top: 69%;
    left: 37%;
    width: 26%;
    height: 10%;
    display: inline-block;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;

    @media (max-width: 800px) {
        display: none;
    }
}

.second3201v1 button.exit-promo_submitbutton2 {
    position: absolute;
    top: 69%;
    left: 65%;
    width: 26%;
    height: 10%;
    display: inline-block;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;

    @media (max-width: 800px) {
        left: 50%;
        transform: translateX(-50%);
        width: 180px;
    }

    @media (max-width: 576px) {
        width: 37%;
    }
}

.second3201v1 .exit-promo-img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1010;
}

.second3201v1 .exit-promo-bg {
    display: block !important;
    margin-inline: auto;
}
