// Report Table

$report-border-color: #979797;

.page-report-table {
  border-bottom: 1px solid #979797;
  display: block;

  @include breakpoint("medium") {
    display: flex;
  }

  .page-sidebar {
    float: none;
    padding: 22px 15px 0;

    @include breakpoint("medium") {
      background-color: #F2F2F2;
      padding: 30px 40px;
    }

    .accordion-navigation-actions > a {
      display: inline-block;
    }

    .facetedSearch-toggle {
      margin-bottom: 0;
    }

    .facetedSearch-navList {
      background-color: $color-white;

      @include breakpoint("medium") {
        background-color: transparent;
      }
    }

    + .page-content {
      float: none;
      padding: 0;
    }
  }

  .accordion--navList .accordion-title {
    padding-right: 53px;
  }
}

.report-table {
  padding: 24px 15px 30px;
  max-width: 950px;

  @include breakpoint("medium") {
    padding: 30px 15px;

  }

  @include breakpoint(1200px) {
    padding: 50px 15px 50px 64px;
  }
}

.report-table__search {
  display: flex;
  font-family: $fontFamily-montserrat;
  font-size: 12px;
  justify-content: flex-end;
  margin: 0 0 18px;

  @include breakpoint("medium") {
    margin: 0 0 30px;
  }

  label {
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    margin-right: 6px;
  }

  input {
    appearance: none;
    background: #fff;
    border: 0;
    border-bottom: 1px solid #37474F;
    border-radius: 0;
    color: #37474F;
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.2;
    outline: 0;
    padding: 0;
    position: relative;
    width: 200px;
  }
}

.report-table__table {
  width: 100%;

  thead {
    @media (min-width: 0) and (max-width: #{$screen-medium - 1px}) {
      display: none;
    }

    tr {
      border: 0;
    }

    th {
      background: #37474F;
      border: 1px #37474F solid;
      border-bottom-color: $report-border-color;
      border-right-color: $report-border-color;
      color: #fff;
      font-family: $fontFamily-montserrat;
      font-size: 11px;
      font-weight: 600;
      letter-spacing: 0.5px;
      line-height: 1;
      padding: 12px 18px;
      text-align: left;
      text-transform: uppercase;
      vertical-align: middle;

      &:last-child {
        border-right-color: #37474F;
      }

      &.centered {
        text-align: center;
      }

      &.rating-number-col {
        width: 1%;
      }

      .report-table-sort {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-right: -6px;

        &__icons {
          display: block;
          margin-left: 12px;

          button {
            color: #fff;
            margin: 0;
            padding: 0;

            &.active {
              color: $color-brand;
            }
          }

          svg {
            fill: currentColor;
            height: 12px;
            width: 12px;
          }
        }
      }
    }
  }

  tbody {
    @media (min-width: 0) and (max-width: #{$screen-medium - 1px}) {
      clear: both;

      tr {
        border: 1px solid $report-border-color;
  
        + tr {
          border-top: 0;
        }
      }
        
      td {
        &.title-col {
          display: none;
        }

        &.image-col {
          padding: 0;
          width: 30%;
        }

        &.rating-number-col {
          display: none;
        }

        &.details-col {
          display: none;
        }

        &.mobile-col {
          padding: 0;
          position: relative;
          vertical-align: middle;

          .mobile-col-link {
            color: inherit;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 18px 40px 18px 12px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            text-decoration: none;

            svg {
              height: 16px;
              position: absolute;
              right: 20px;
              top: 50%;
              transform: translateY(-50%);
              width: 10px;
            }
          }
        }

        .mobile-title {
          display: block;
          margin: 0 0 12px;
        }

        .mobile-ratings {
          display: flex;
          grid: 0 12px;

          span {
            flex: 1;
          }
        }
      }

      .mobile-popup {
        background-color: #fff;
        bottom: 0;
        display: block;
        left: 0;
        padding: 22px;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: +1000;

        span {
          display: block;
        }
      }

      .mobile-popup__back {
        display: inline-block;
        font-family: $fontFamily-noto;
        font-weight: 500;
        font-size: 12px;
        margin-bottom: 16px;
        text-decoration: underline;
        transition: 0.1s all;

        &:hover,
        &:focus {
          color: $color-brand;
        }
      }

      .mobile-popup__table {
        border-radius: 2px;
        box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.07);
        border: solid 1px #dfdfdf;

        .mfp-image {
          margin-right: 18px;
          width: 30%;
        }
      
        .mobile-title {
          font-weight: 500;
          font-size: 12px;
          margin: 0;
        }
      }

      .mobile-popup__section {
        border-top: 1px solid #dfdfdf;
        padding: 14px 24px;

        &:first-child {
          align-items: center;
          border-top: 0;
          display: flex;
          width: 100%;
        }
      }

      .mobile-popup__section-title {
        color: #7f7f7f;
        font-family: $fontFamily-noto;
        font-size: 11px;
        font-weight: 400;
        margin: 0 0 3px;
        padding: 0;
        text-transform: none;
      }

      .mobile-popup__section-details {
        font-size: 12px;
      }
    }

    td {
      font-family: $fontFamily-noto;
      font-size: 10px;
      font-weight: $fontWeight-medium;
      padding: 18px 12px;
      text-align: left;
      vertical-align: top;

      @include breakpoint(400px) {
        font-size: 12px;
      }

      @include breakpoint("medium") {
        border: 1px solid $report-border-color;
        padding: 24px 18px;

        &.mobile-col {
          display: none;
        }

        .mobile-title {
          display: none;
        }

        .mobile-ratings {
          display: none;
        }
  
        &.centered {
          text-align: center;
        }

        &.details-col {
          width: 30%;
        }
  
        &.image-col {
          padding: 0;
          width: 180px;
  
          @include breakpoint(960px) {
            width: 200px;
          }
        }
  
        &.rating-number-col {
          width: 1%;
        }
      }
    }
  }
}

// Sort
.report-table__sort {
  display: flex;
  gap: 0 18px;
  margin: 0 0 24px;

  @include breakpoint("medium") {
    display: none;
  }
}

.report-table__sort-field {
  flex: 1;

  label {
    font-family: $fontFamily-montserrat;
    font-weight: 500;
    font-size: 12px;
    display: block;
    margin: 0 0 3px;
  }

  select {
    font-family: $fontFamily-montserrat;
    font-size: 12px;
  }
}