// FAQs

.faqs-module {
  margin: 60px 0;
}

.faqs-module__title {
  color: $color-brand;
  font-family: $fontFamily-montserrat;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.4;
  margin: 0 0 42px;
  text-transform: none;
}

.faqs-module__item {
  border-bottom: 1px solid $color-textBase;
  padding-bottom: 16px;
  margin-bottom: 42px;

  &:last-child {
    margin-bottom: 0;
  }
}

.faqs-module__item-question {
  margin: 0;
}

.faqs-module__item-button {
  align-items: center;
  appearance: none;
  background-color: $color-greyLightest;
  border: 0;
  border-radius: 20px;
  color: $color-textBase;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  justify-content: space-between;
  letter-spacing: 0;
  line-height: 1.3;
  padding: 12px;
  position: relative;
  text-align: left;
  transition: all 0.2s ease;
  width: 100%;
  z-index: 2;

  @include desktop-up {
    padding: 16px 12px;
  }

  &:hover,
  &:focus {
    background-color: $color-greyLighter;
  }

  svg {
    display: block;
    flex-shrink: 0;
    margin-left: 12px;
    
    &.minus {
      display: none;;
    }
  }

  &[aria-expanded="true"] {
    svg{
      &.plus {
        display: none;
      }
      
      &.minus {
        display: block;
      }
    }
  }
}

.faqs-module__item-content {
  max-height: 0;
  overflow: hidden;

  .is-expanded & {
    max-height: fit-content;
  }
}

.faqs-module__item-answer {
  font-family: $fontFamily-noto;
  font-weight: normal;
  font-size: 14px;
  margin-top: 16px;
}
