.ysw-c-contact-us {
    background-size: cover;
    margin-bottom: remCalc(80px);
    min-height: remCalc(823px);
    padding: 0 5% remCalc(90px);

    %text_default {
        color: $ysw-white-color;
        font-family: $ysw-headings-font;
        line-height: 1.2;
        margin-top: 0;
        text-align: center;
    }

    %input_placeholder {
        color: $ysw-input-placeholder-color;
        font-family: $ysw-headings-font;
        font-size: remCalc(18px);
        font-weight: 400;
    }

    .container {
        max-width: remCalc(1260px);
        padding-top: remCalc(65px);
    }

    &__title {
        @extend %text_default;
        font-size: remCalc(30px);
        font-weight: 800;
        margin-bottom: remCalc(25px);
        text-transform: uppercase;

        @include ysw-breakpoint("small") {
            font-size: remCalc(44px);
            margin-bottom: remCalc(40px);
        }
    }

    &__subtitle {
        @extend %text_default;
        font-size: remCalc(26px);
        font-weight: 800;
        margin-bottom: remCalc(15px);
        text-transform: uppercase;

        &--paragraph {
            text-align: left !important; // Overwrite the text alignment
        }
    }

    &__text {
        @extend %text_default;
        font-size: remCalc(16px);
        font-weight: 300;
        line-height: 1.2;
        margin-bottom: remCalc(25px);
        text-transform: unset;

        @include ysw-breakpoint("small") {
            margin-bottom: remCalc(65px);
        }

        &--paragraph {
            text-align: left !important; // Overwrite the text alignment
        }

        span {
            font-weight: 800;
            white-space: nowrap;
        }
    }

    &__wrapper {
        display: flex;

        @include ysw-breakpoint-down("s-mobile") {
            flex-direction: column;
        }

        &-text {
            flex: 0 0 50%;
            margin-bottom: remCalc(50px);

            @include ysw-breakpoint("s-mobile") {
                padding-right: remCalc(70px);
            }
        }
    }

    &__form {
        column-gap: remCalc(5px);
        display: flex;
        flex-wrap: wrap;
        row-gap: remCalc(7px);
    }

    &__input {
        background-color: $ysw-white-color;
        border: remCalc(4px) solid $ysw-input-border-color;
        height: remCalc(51px);
        padding: remCalc(10px);
        width: 100%;

        &::placeholder {
            @extend %input_placeholder;
        }
    }

    &__textarea {
        background-color: $ysw-white-color;
        border: remCalc(4px) solid $ysw-input-border-color;
        height: remCalc(214px);
        padding: remCalc(10px);
        width: 100%;

        &::placeholder {
            @extend %input_placeholder;
        }
    }

    &__button {
        background-color: $ysw-button-background-color;
        border: remCalc(5px) solid $ysw-button-border-color;
        color: $ysw-white-color;
        font-family: $ysw-body-font;
        font-size: remCalc(19px);
        font-weight: 900;
        height: remCalc(60px);
        margin: remCalc(30px) auto 0;
        text-transform: uppercase;
        width: remCalc(120px);

        @include ysw-breakpoint("small") {
            margin: remCalc(48px) auto 0;
        }
    }
}
