// =============================================================================
// LAYOUTS
// =============================================================================


// Global layouts
// -----------------------------------------------------------------------------

// Header
@import "header/header";

// Page
@import "body/body";

// Footer
@import "footer/footer";

// Container
@import "container/container";


// Page content layouts
// -----------------------------------------------------------------------------

// Blog
@import "blog/blog";

// Sidebar blocks
@import "sidebar/block";

// Brand grid
@import "brands/brandGrid";

// Brand product list
@import "brands/brand";

// Product grid
@import "products/productGrid";

// Product list
@import "products/productList";

// Product view
@import "products/productView";

// Product icons
@import "products/productIcons";

// Product Coverage Calculator
@import "products/productCalculator";

// Product Modal
@import "products/productModal";

// Product Absorption Calculator
@import "products/productAbsorptionCalculator";

// Product Square Feet Calc
@import "products/productsSquareFeetCalc";

// Product Sale Badges
@import "products/productSaleBadges";

// Custom Acoustic Pro Content
@import "products/customContentBlocks/acoustic-pro-panels";

// Custom Damplifer Pro Content
@import "products/customContentBlocks/damplifier-pro";

// Product view
@import "products/productSwatch";

// Account
@import "account/account";

// Hero
@import "hero/home";
@import "hero/hubPage";
@import "hero/soundmap";

// CTA
@import "cta/remarks";
@import "cta/cta-blocks";

// Accordion
@import "accordion/accordion";

// Section
@import "section/whySsa";
@import "section/customerLove";
@import "section/featuredProducts";
@import "section/productHighlights";
@import "section/popularProduct";
@import "section/textAndPhoto";
@import "section/noiseBarrier";
@import "section/installer";
@import "section/psCarSoundDeadening";
@import "pages/soundproofing";
@import "section/klaviyo";
@import "section/contactForm";
@import "section/homeProductsHub";
@import "section/basicsBreakdown";
@import "section/ratingTable";
@import "miscellaneous/videoLink";
@import "miscellaneous/numberedList";
@import "miscellaneous/filterBar";
@import "pages/report-table-hero";
@import "pages/report-table";
@import "pages/table-pagination";
