// Article Slider

.article-slider {
  margin: 60px 0;
}

.article-slider__title {
  color: $color-brand;
  font-family: $fontFamily-montserrat;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.4;
  margin: 0 0 30px;
  text-transform: none;
}

.article-slider__block-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.article-slider__block-image {
  aspect-ratio: 1.45;
  display: block;
  object-fit: cover;
  margin-bottom: 20px;
  width: 100%;
}

.article-slider__block-label {
  color: $color-brand;
  font-family: $fontFamily-montserrat;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.1;
  margin: 0 0 16px;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.article-slider__block-title {
  font-family: $fontFamily-montserrat;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
  margin: 0 0 16px;
  text-transform: none;
  transition: all 0.2s ease;

  .article-slider__block-link:hover &,
  .article-slider__block-link:focus {
    color: $color-brand;
  }
}

.article-slider__block-description {
  color: $color-textBase;
  font-family: $fontFamily-noto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;

  .article-slider__block-link:hover &,
  .article-slider__block-link:focus {
    color: $color-textBase;
  }
}

.article-slider__block-time {
  color: #718792;
  font-family: $fontFamily-noto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
}

.article-slider__block-link-text {
  color: inherit;
  display: inline-block;
  font-family: $fontFamily-noto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  margin-top: 16px;
  text-decoration: underline;
  transition: all 0.2s ease;
}

.article-slider__slider {
  margin-left: -16px;

  @include and-up(480px) {
    margin-left: 0;
  }

  &:not(.slick-slider) {
    gap: 0 32px;
    display: flex;

    .article-slider__block {
      width: 100% * 1/3;
    }
  }

  &.slick-slider {
    @include and-up(480px) {
      padding: 0 36px;
    }

    .slick-arrow {
      display: block !important;
      padding: 10px;
      position: absolute;

      &::before {
        height: 26px;
        width: 16px;
      }
    }

    .slick-prev {
      left: -10px;

      &::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='26' viewBox='0 0 16 26' fill='none'%3E%3Cpath d='M15.096 2.15998L12.974 0.0399818L1.41603 11.594C1.22972 11.7791 1.08186 11.9993 0.980964 12.2418C0.880068 12.4843 0.828125 12.7443 0.828125 13.007C0.828125 13.2696 0.880068 13.5297 0.980964 13.7722C1.08186 14.0147 1.22972 14.2348 1.41603 14.42L12.974 25.98L15.094 23.86L4.24603 13.01L15.096 2.15998Z' fill='%23000A12' /%3E%3C/svg%3E");
      }
    }

    .slick-next {
      right: -10px;

      &::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='26' viewBox='0 0 16 26' fill='none'%3E%3Cpath d='M0.903975 2.15998L3.02597 0.0399818L14.584 11.594C14.7703 11.7791 14.9181 11.9993 15.019 12.2418C15.1199 12.4843 15.1719 12.7443 15.1719 13.007C15.1719 13.2696 15.1199 13.5297 15.019 13.7722C14.9181 14.0147 14.7703 14.2348 14.584 14.42L3.02597 25.98L0.905974 23.86L11.754 13.01L0.903975 2.15998Z' fill='%23000A12' /%3E%3C/svg%3E");
      }
    }

    .slick-slide {
      padding: 0 16px;
    }
  }
}